html{
    body{
        width: 100%;
        margin: 0px;
        //background: url('../images/back.jpg') repeat-x #DCDCDC;
        background: rgb(220,220,220);
        background: linear-gradient(180deg, rgba(121,121,121,1) 0px, rgba(67,67,67,1) 240px, rgba(220,220,220,1) 240px);    
        font-family: 'Signika';
        .contenedor{
            display: block;
            width: 100%;
            position: relative;
            .menu{
                width: 219px;
                height: 100%;
                top: 0px;
                position: fixed;
                z-index: 4;
                background: #fff;
                border-right: 1px solid #000;
                transition: 0.8s;
                left: -220px;
                .btn_toogle{
                    width: 35px;
                    height: 35px;
                    padding: 10px;
                    position: absolute;
                    top: 00px;
                    display: inline-block;
                    cursor: pointer;
                    right: -60px;
                    transition: 0.4s;
                    .b{
                        width: 35px;
                        height: 5px;
                        background-color: #333;
                        margin: 6px 0;
                        transition: 0.4s;
                    }
                }
                .titulo{

                }
                .opciones{

                }
            }
            .close{
                -webkit-transform: translate(220px, 0px);
                transform: translate(220px, 0px);
                .btn_toogle{
                    -webkit-transform: translate(-60px, 0px);
                    transform: translate(-60px, 0px);
                    .b1{
                        -webkit-transform: rotate(-45deg) translate(-9px, 6px);
                        transform: rotate(-45deg) translate(-9px, 6px);
                    }
                    .b2{
                        opacity: 0;
                    }
                    .b3{
                        -webkit-transform: rotate(45deg) translate(-8px, -8px);
                        transform: rotate(45deg) translate(-8px, -8px);
                    }
                }
            }
            .sitio{
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
                width: 96%;
                max-width: 1000px;
                background: rgb(255,255,255);
                background: linear-gradient(180deg, rgba(255,255,255,1) 20px, rgba(230,230,230,1) 40px, rgba(255,255,255,1) 40px, rgba(255,255,255,1) 140px, rgba(230,230,230,1) 180px, rgba(255,255,255,1) 180px);
                margin: 60px auto 30px auto;
                .header{
                    width: 96%;
                    position: relative;
                    margin: 0 auto;
                    height: 150px;
                    .logo{
                        position: absolute;
                        text-align: center;
                        a{
                            img{
                                max-width: 100%;
                            }
                        }
                    }
                    .tmenu{
                        position: absolute;
                        .btn{
                            float: left;
                            font-size: 12px;
                            background: url('../images/punto.png') no-repeat scroll 0px 4px;
                            a{
                                text-decoration: none;
                                color: #000;
                                display: block;
                            }
                        }
                        .b2{
                            width: 20%;
                        }
                        .b3{
                            width: 21%;
                        }
                        .b4{
                            width: 23%;
                        }
                        .b5{
                            width: 17%;
                        }
                        .b7{
                            width: 19%;
                        }
                    }
                }
                .medio{
                    .pmenu{
                        .nav{
                            width: 220px;
                            margin: 0 auto;
                            .lp{
                                padding: 16px 12px;
                                color: #fff;
                                background: #000;
                                border-top-left-radius: 10px;
                                border-top-right-radius: 10px;
                                background: linear-gradient(180deg, rgba(63,63,63,1) 0%, rgba(23,23,23,1) 100%);
                            }
                            .ls{
                                background: #333;
                                padding: 12px;
                                border-bottom: 1px solid #000;
                                a{
                                    color: #fff;
                                    text-decoration: none;
                                    font-size: 15px;
                                }
                            }
                        }
                        .btnvideos{
                            text-align: center;
                            .myButton {
                                -moz-box-shadow: 0px 3px 0px 0px #8a2a21;
                                -webkit-box-shadow: 0px 3px 0px 0px #8a2a21;
                                box-shadow: 0px 3px 0px 0px #8a2a21;
                                background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #c62d1f), color-stop(1, #f24437));
                                background:-moz-linear-gradient(top, #c62d1f 5%, #f24437 100%);
                                background:-webkit-linear-gradient(top, #c62d1f 5%, #f24437 100%);
                                background:-o-linear-gradient(top, #c62d1f 5%, #f24437 100%);
                                background:-ms-linear-gradient(top, #c62d1f 5%, #f24437 100%);
                                background:linear-gradient(to bottom, #c62d1f 5%, #f24437 100%);
                                filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c62d1f', endColorstr='#f24437',GradientType=0);
                                background-color:#c62d1f;
                                -moz-border-radius:18px;
                                -webkit-border-radius:18px;
                                border-radius:18px;
                                border:1px solid #d02718;
                                display:inline-block;
                                cursor:pointer;
                                color:#ffffff;
                                font-family:Arial;
                                font-size:17px;
                                padding:7px 25px;
                                text-decoration:none;
                                text-shadow:0px 1px 0px #810e05;
                                    margin: 20px auto;
                                }
                                .myButton:hover {
                                        background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f24437), color-stop(1, #c62d1f));
                                        background:-moz-linear-gradient(top, #f24437 5%, #c62d1f 100%);
                                        background:-webkit-linear-gradient(top, #f24437 5%, #c62d1f 100%);
                                        background:-o-linear-gradient(top, #f24437 5%, #c62d1f 100%);
                                        background:-ms-linear-gradient(top, #f24437 5%, #c62d1f 100%);
                                        background:linear-gradient(to bottom, #f24437 5%, #c62d1f 100%);
                                        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f24437', endColorstr='#c62d1f',GradientType=0);
                                        background-color:#f24437;
                                }
                                .myButton:active {
                                        position:relative;
                                        top:1px;
                                }
                        }
                    }
                    .info{
                        .data{
                            width: 99%;
                            .conthead{
                                .search{
                                    float: left;
                                    height: 40px;
                                    border-radius: 7px;
                                    .sh{
                                        background: #fff;
                                        .l{
                                            width: 44px;
                                            height: 40px;
                                            float: left;
                                            background: url('../images/lupa.jpg') no-repeat;
                                        }
                                        .i{
                                            float: left;
                                            input{
                                                width: 100%;
                                                height: 100%;
                                                border: 0px
                                            }
                                        }
                                        .s{
                                            float: left;
                                            background: #E13535;
                                            color: #fff;
                                            height: 100%;
                                            position: relative;
                                            a{
                                                color: #fff;
                                                text-decoration: none;
                                            }
                                        }
                                    }
                                }
                                .carro{
                                    float: left;
                                    .ca{
                                        .icon{
                                            width: 50px;
                                            height: 50px;
                                            float: left;
                                            background: url('../images/carro.jpg') no-repeat scroll 0px 0px;
                                            border-top-left-radius: 10px;
                                            border-bottom-left-radius: 10px;
                                        }
                                        .item{
                                            width: calc(100% - 50px);
                                            height: 50px;
                                            float: left;
                                            background: #000;
                                            border-top-right-radius: 10px;
                                            border-bottom-right-radius: 10px;
                                            position: relative;
                                            .txt{
                                                color: #fff;
                                            }
                                        }
                                    }
                                }
                            }
                            .aviso{
                                text-align: center;
                                color: #E13535;
                                padding-top: 10px;
                                width: 96%;
                                margin: 0 auto;
                            }
                            .carrusel{
                                margin: 10px auto;
                                position: relative;
                                overflow: hidden;
                                border-radius: 10px;
                                .foto{
                                    img{
                                        width: 100%;
                                    }
                                }
                                .flecha{
                                    position: absolute;
                                    cursor: pointer;
                                }
                                .f1{
                                    left: 10px;
                                }
                                .f2{
                                    right: 10px;
                                }
                            }
                            .otros{
                                margin: 10px auto;
                                .otro{
                                    width: 33.33%;
                                    color: #fff;
                                    text-decoration: none;
                                }
                                .ot1{
                                    background: #6f6f6f;
                                    border-top-left-radius: 10px;
                                    border-bottom-left-radius: 10px;
                                }
                                .ot2{
                                    background: #777;
                                }
                                .ot3{
                                    background: #808080;
                                    border-top-right-radius: 10px;
                                    border-bottom-right-radius: 10px;
                                }
                            }
                            .titulo{
                                background: linear-gradient(180deg, rgba(63,63,63,1) 0%, rgba(23,23,23,1) 100%);
                                border-top-left-radius: 10px;
                                border-top-right-radius: 10px;
                                color: #fff;
                                font-size: 18px;
                                margin: 10px auto;
                                .nombre{
                                    padding: 16px;
                                }
                            }
                            .lista_productos{
                                margin: 10px auto;
                                .producto{
                                    float: left;
                                    .pro{
                                        width: 94%;
                                        margin: 5px auto 10px auto;
                                        border: 1px solid #ccc;
                                        border-radius: 10px;
                                        .link{
                                            text-decoration: none;
                                        }
                                        .c_pro{
                                            padding: 5px;
                                            .c_pfoto{
                                                img{
                                                    width: 100%;
                                                }
                                            }
                                            .c_pttl{
                                                font-size: 16px;
                                                color: #666;
                                                height: 40px;
                                                padding-top: 5px;
                                            }
                                            .c_pdesc{
                                                font-size: 12px;
                                                color: #999;
                                                padding: 7px 0;
                                                height: 55px;
                                            }
                                            .c_pbtn{
                                                font-size: 14px;
                                                padding-bottom: 5px;
                                                .btn_cotizar{
                                                    float: left;
                                                    width: calc(55% - 40px);
                                                    max-width: 120px;
                                                    background: #E13535 url('../images/cart1.jpg') no-repeat;
                                                    height: 26px;
                                                    border-radius: 5px;
                                                    padding: 9px 0px 0px 42px;
                                                    color: #fff;
                                                }
                                                .btn_ver_prod{
                                                    float: left;
                                                    width: 60%;
                                                    max-width: 140px;
                                                }
                                                .btn_mostrar_prod{
                                                    float: right;
                                                    width: 40%;
                                                    max-width: 90px;
                                                }
                                                .btn_mostrar{
                                                    height: 33px;
                                                    border-radius: 5px;
                                                    border: 1px solid #c1c1c1;
                                                    background-image: linear-gradient(180deg, rgba(254,254,254,1) 0%, rgba(232,232,232,1) 100%);
                                                    background-repeat: no-repeat;
                                                    position: relative;
                                                    .txt{
                                                        padding: 9px 5px 0px 10px;
                                                        color: #666;
                                                    }
                                                    .punto{
                                                        width: 6px;
                                                        height: 9px;
                                                        background: url('../images/punto.png');
                                                        right: 5px;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                                .detalle_producto{
                                    .pro_info{
                                        width: calc(55% - 20px);
                                        float: right;
                                        padding-left: 20px;
                                        .titulo_pro{
                                            font-size: 22px;
                                        }
                                        .cotizar_pro{
                                            padding: 10px 0px 20px 0px;
                                            border-bottom: 1px solid #ccc;
                                            .cotizar_pro1{
                                                width: 50px;
                                                float: left;
                                                padding-top: 8px;
                                            }
                                            .cotizar_pro2{
                                                width: 40px;
                                                float: left;
                                                padding-right: 10px;
                                                input{
                                                    width: 35px;
                                                }
                                            }
                                            .cotizar_pro3{
                                                width: calc(100% - 100px);
                                                float: left;
                                                .btn{
                                                    width: 100%;
                                                    max-width: 120px;
                                                    background: #E13535 url('../images/cart1.jpg') no-repeat;
                                                    height: 26px;
                                                    border-radius: 5px;
                                                    padding: 9px 0px 0px 42px;
                                                    color: #fff;
                                                }
                                            }
                                        }       
                                    }
                                    .pro_fotos{
                                        width: calc(45% - 2px);
                                        float: left;
                                        border: 1px solid #ccc;
                                        height: 400px;
                                    }
                                }
                            }
                        }
                    }
                }
                .footer{
                    width: 100%;
                    height: 150px;
                    background: #000;
                }
            }
        }
    }
}

@media only screen and (max-width: 850px){
    html{
        body{
            .contenedor{
                .menu{
                    display: block;
                }
                .sitio{
                    .header{
                        .logo{
                            width: 100%;
                            top: 45px;
                        }
                        .tmenu{
                            width: 100%;
                            top: 115px;
                            left: 0px;
                        }
                    }
                    .medio{
                        .pmenu{
                            display: none;
                        }
                        .info{
                            width: 100%;
                            .data{
                                margin: 0 auto;
                                .conthead{
                                    padding: 0px 20px;
                                }
                                .carrusel{
                                    width: 96%;
                                }
                                .otros{
                                    width: 96%;
                                }
                                .titulo{
                                    width: 96%;
                                }
                                .lista_productos{
                                    width: 96%;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
@media only screen and (min-width: 850px){
    html{
        body{
            .contenedor{
                .menu{
                    display: none;
                }
                .sitio{
                    .header{
                        .logo{
                            width: 335px;
                            top: 65px;
                        }
                        .tmenu{
                            width: calc(100% - 360px);
                            top: 85px;
                            left: 360px;
                        }
                    }
                    .medio{
                        .pmenu{
                            display: block;
                            float: left;
                            width: 24%;
                            min-width: 230px;
                        }
                        .info{
                            max-width: calc(100% - 230px);
                            width: 76%;
                            float: left;
                            .data{
                                .conthead{
                                    
                                }
                                .carrusel{
                                    width: 100%;
                                }
                                .otros{
                                    width: 100%;
                                }
                                .titulo{
                                    width: 100%;
                                }
                                .lista_productos{
                                    width: 100%;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 500px){
    .conthead{
        .search{
            width: calc(73% - 10px);
            border: 5px solid #000;
            margin-right: 2%;
            .sh{
                .l{

                }
                .i{
                    margin: 0 10px;
                    width: calc(70% - 42px);
                }
                .s{
                    width: calc(30% - 22px);
                    a{
                        font-size: 16px;
                    }
                }
            }
        }
        .carro{
            width: 25%;
            .ca{
                .icon{

                }
                .item{
                    .txt{
                        font-size: 16px;
                    }
                }
            }
        }
    }
    .aviso{
        font-size: 18px;
    }
    .tmenu{
        .btn{
            a{
                font-size: 15px;
                padding-left: 10px;
            }
        }
    }
    .otro{
        .t1{
            font-size: 15px;
            margin: 20px 20px 0 20px;
        }
        .t2{
            font-size: 13px;
            margin: 0px 20px 20px 20px;
        }
    }
}
@media only screen and (max-width: 500px) and (min-width: 400px){
    .conthead{
        .search{
            width: calc(63% - 10px);
            border: 5px solid #000;
            margin-right: 2%;
            .sh{
                .l{

                }
                .i{
                    margin: 0 10px;
                    width: calc(60% - 42px);
                }
                .s{
                    width: calc(40% - 22px);
                    a{
                        font-size: 13px;
                    }
                }
            }
        }
        .carro{
            width: 35%;
            .ca{
                .icon{

                }
                .item{
                    .txt{
                        font-size: 13px;
                    }
                }
            }
        }
    }
    .aviso{
        font-size: 16px;
    }
    .tmenu{
        .btn{
            a{
                font-size: 14px;
                padding-left: 9px;
                padding-top: 1px;
            }
        }
    }
    .otro{
        .t1{
            font-size: 14px;
            margin: 15px 15px 0 15px;
        }
        .t2{
            font-size: 12px;
            margin: 0px 15px 15px 15px;
        }
    }
}
@media only screen and (max-width: 400px) and (min-width: 350px){
    .conthead{
        .search{
            width: calc(63% - 10px);
            border: 5px solid #000;
            margin-right: 2%;
            .sh{
                .l{

                }
                .i{
                    margin: 0 10px;
                    width: calc(60% - 42px);
                }
                .s{
                    width: calc(40% - 22px);
                    a{
                        font-size: 12px;
                    }
                }
            }
        }
        .carro{
            width: 35%;
            .ca{
                .icon{

                }
                .item{
                    .txt{
                        font-size: 12px;
                    }
                }
            }
        }
    }
    .aviso{
        font-size: 14px;
    }
    .tmenu{
        .btn{
            a{
                font-size: 12px;
                padding-left: 8px;
                padding-top: 2px;
            }
        }
    }
    .otro{
        .t1{
            font-size: 13px;
            margin: 10px 10px 0 10px;
        }
        .t2{
            font-size: 11px;
            margin: 0px 10px 10px 10px;
        }
    }
}
@media only screen and (max-width: 350px){
    .conthead{
        .search{
            width: calc(63% - 10px);
            border: 5px solid #000;
            margin-right: 2%;
            .sh{
                .l{

                }
                .i{
                    margin: 0 10px;
                    width: calc(50% - 42px);
                }
                .s{
                    width: calc(50% - 22px);
                    a{
                        font-size: 11px;
                    }
                }
            }
        }
        .carro{
            width: 35%;
            .ca{
                .icon{

                }
                .item{
                    .txt{
                        font-size: 11px;
                    }
                }
            }
        }
    }
    .aviso{
        font-size: 12px;
    }
    .tmenu{
        .btn{
            a{
                font-size: 11px;
                padding-left: 7px;
                padding-top: 3px;
            }
        }
    }
    .otro{
        .t1{
            font-size: 12px;
            margin: 5px 5px 0 5px;
        }
        .t2{
            font-size: 10px;
            margin: 0px 5px 5px 5px;
        }
    }
}

@media only screen and (min-width: 630px){
    .producto{
        width: 33.33%;
    }
}
@media only screen and (max-width: 630px) and (min-width: 440px){
    .producto{
        width: 50%;
    }
}
@media only screen and (max-width: 440px){
    .producto{
        width: 100%;
    }
}


.valign {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.vhalign{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.clearfix:after{
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
.clearfix{
	display: inline-block;
}
/*\*/* html .clearfix {
    height: 1%;
}
.clearfix {
    display: block;
}
textarea:focus, input:focus{
    outline: none;
}
.none{
    display: none;
}